<h1>List of articles</h1>
<hr>

<ul>
    <% @articles.each do |article| %>
        <li class= "list">
            <h4><%= link_to article.title.upcase, article_path(article), class:"title" %></h4>
            <h5><%= link_to article.content, article_path(article), class:'content' %></h5>
            <%= link_to raw('<i class="fa-solid fa-trash"></i>'), article_path(article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"pe-2 delete" %>
        </li>
    <% end %>

    <%= link_to new_article_path do %>

    <div class="add">
      <a href="/articles/new" class="button"><i class="fa-solid fa-square-plus"></i></a>
      <p class="add-an-art"> Add an article</p>
    </div>

    <% end %>
</ul>
