<h1>More informations</h1>
<p class="title-infos"><%= @article.title.upcase%></p>
<p class="title-content"><%= @article.content%></p>

<%= link_to "Retourner aux articles", articles_path, class: "back" %>
