/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
.title{
    color:#283d3b;
    text-decoration: none;
}
.title:hover{
color:#197278;
}
.content{
    color:#772e25;
    text-decoration: none;
    padding-bottom: 20px;
}
.content:hover{
    color:#197278;
    }


.list{
    padding-bottom: 40px;
    margin-top: 40px;
    background-color:#e4a8a0;
    border-radius: 6px;
    padding: 10px;
    list-style-type: none;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1); ;

}

.title-infos{
    font-size: 32px;
    font-style: italic;
}

.title-content{
  font-size: 24px;
}

h1{
    color:#197278;
}

h1{
    margin-bottom: 20px;
}

body{
  font-family: 'Lora', serif;
  background-color:#edddd4;
}

.button{
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 8px;
    font-size: 14px;
    background-color:#283d3b;
}

.fa-solid{
    font-size: 16px;
    color:#283d3b;
}

.fa-solid:hover{
    color:#197278;
}

.add{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;

}

.container{
    width: 600px;
    margin: 30 auto;
}

.button-add{
    background-color:#283d3b;
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid #197278;
    color: white;
}

.back{
    text-decoration: none;
    border: 1px dotted #197278;
    border-radius: 8px;
    padding: 8px 16px;
}

.fa-square-plus{
    font-size: 24px;
    color: #edddd4;
}

.add-an-art{
    margin: 0;
    color:#772e25;
    font-size: 20px;
}
